body {
	/*background: #77a8a8;
	fill: #3b3a30;*/
  background: #929090;
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
  margin: 0px;
  margin-top: 50px;
}

.wrapper {
  width: 100%;
  background-color: #212121;
  transition: all 0.3s;
  display: block;
  position: fixed;
  top:0;
  left:0;
}

.year {
  font-weight: bold;
  letter-spacing: 6px;
  font-size: 18px;
  color: #e3e3e3;
  top: -7px;
  position: relative;
  display: inline-block;
}

.workHours {
  letter-spacing: 4px;
  font-size: 18px;
  color: #e3e3e3;
  transition: all 0.3s;
}

.prev, .next {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 3px solid #e3e3e3;
  margin: 5px 18px 0px;
  cursor: pointer;
  transition: all 0.3s;
}
.prev:before, .prev:after, 
.next:before, .next:after {
  content: "";
  position: absolute;
  transition: all 0.3s;
}

.next:hover {
  border-color: limegreen;
  background-color: limegreen;
}
.next:before, .next:after {
  width: 11px;
  height: 3px;
  background-color: #e3e3e3;
  top: 50%;
  margin-left: -5px;
  margin-top: -2px;
}
.next:before {
  transform: rotate(90deg);
}

.prev:hover {
  border-color: limegreen;
  background-color: limegreen;
}
.prev:before {
  width: 10px;
  height: 3px;
  background-color: #e3e3e3;
  margin-left: -5px;
  top: 50%;
  margin-top: -2px;
}

 
    

.calender {
    shape-rendering: crispEdges;
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}

.day-rect {
    stroke: #5D5D5D;
}

.day-text, .month-text, .sprint-text {
    fill: #212121;
}

.day-text, .sprint-text, .month-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.day-text, .sprint-text{
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none !important;
}

.sprint {
    stroke: #5D5D5D;
    stroke-width: 0px;
    stroke-opacity: 0.2;
    transition: all 0.3s;
    cursor: pointer; cursor: hand;
    opacity: 0.4;
}

.sprint-active {
  opacity: 1;
    position: relative;
}

.sprintWorkHoursPopup {
  stroke: #5D5D5D;
  opacity: 0.9;
}
.sprintWorkHoursText {
    font-size: 18px;
    fill: #e3e3e3;
}

.month-paths {
    fill: none;
    stroke: #212121;
    stroke-width: 2px;
    cursor: pointer; cursor: hand;
}